button input {
    overflow: visible;
}

label {
    font-size: 12.8px;
    color: #9e9e9e;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.col .row {
    margin-left: -12px;
    margin-right: -12px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    min-height: 1px;
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.input-field {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
}

.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: text;
    -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out,
        -webkit-transform 0.2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

.input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.input-field.col label {
    left: 12px;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 48px - 24px);
}

.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: text;
    -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out,
        -webkit-transform 0.2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

.input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.input-field
    > input[type]:-webkit-autofill:not(.browser-default):not([type="search"])
    + label,
.input-field > input[type="date"]:not(.browser-default) + label,
.input-field > input[type="time"]:not(.browser-default) + label {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.input-field .helper-text {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.input-field .helper-text::after {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.input-field .prefix {
    position: absolute;
    width: 48px;
    font-size: 32px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    top: 8px;
}

.input-field .prefix.active {
    color: #26a69a;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
    margin-left: 48px;
    width: 92%;
    width: calc(100% - 48px);
}

.input-field .prefix ~ label {
    margin-left: 48px;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="email"]:not(.browser-default),
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 48px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="text"]:not(.browser-default):disabled,
input[type="text"]:not(.browser-default)[readonly="readonly"],
input[type="email"]:not(.browser-default):disabled,
input[type="email"]:not(.browser-default)[readonly="readonly"],
textarea.textarea:disabled,
textarea.textarea[readonly="readonly"] {
    color: rgba(0, 0, 0, 0.42);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type="text"]:not(.browser-default):disabled + label,
input[type="text"]:not(.browser-default)[readonly="readonly"] + label,
input[type="email"]:not(.browser-default):disabled + label,
input[type="email"]:not(.browser-default)[readonly="readonly"] + label,
textarea.textarea:disabled + label,
textarea.textarea[readonly="readonly"] + label {
    color: rgba(0, 0, 0, 0.42);
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
textarea.textarea:focus:not([readonly]) + label {
    color: #26a69a;
}

input:not([type]):focus.valid ~ label,
input[type="text"]:not(.browser-default):focus.valid ~ label,
input[type="email"]:not(.browser-default):focus.valid ~ label,
textarea.textarea:focus.valid ~ label {
    color: #4caf50;
}

input:not([type]):focus.invalid ~ label,
input[type="text"]:not(.browser-default):focus.invalid ~ label,
input[type="email"]:not(.browser-default):focus.invalid ~ label,
textarea.textarea:focus.invalid ~ label {
    color: #f44336;
}

input:not([type]).validate + label,
input[type="text"]:not(.browser-default).validate + label,
input[type="email"]:not(.browser-default).validate + label,
textarea.textarea.validate + label {
    width: 100%;
}


input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default):focus,
input.valid[type="email"]:not(.browser-default),
input.valid[type="email"]:not(.browser-default):focus,
textarea.textarea.valid,
textarea.textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #4caf50;
    -webkit-box-shadow: 0 1px 0 0 #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}

input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default):focus,
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
textarea.textarea.invalid,
textarea.textarea.invalid:focus,
.select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus {
    border-bottom: 1px solid #f44336;
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

input:not([type]).valid ~ .helper-text[data-success],
input:not([type]):focus.valid ~ .helper-text[data-success],
input:not([type]).invalid ~ .helper-text[data-error],
input:not([type]):focus.invalid ~ .helper-text[data-error],
input[type="text"]:not(.browser-default).valid ~ .helper-text[data-success],
input[type="text"]:not(.browser-default):focus.valid
    ~ .helper-text[data-success],
input[type="text"]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type="text"]:not(.browser-default):focus.invalid
    ~ .helper-text[data-error],
input[type="email"]:not(.browser-default).valid ~ .helper-text[data-success],
input[type="email"]:not(.browser-default):focus.valid
    ~ .helper-text[data-success],
input[type="email"]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type="email"]:not(.browser-default):focus.invalid
    ~ .helper-text[data-error],
textarea.textarea.valid ~ .helper-text[data-success],
textarea.textarea:focus.valid ~ .helper-text[data-success],
textarea.textarea.invalid ~ .helper-text[data-error],
textarea.textarea:focus.invalid ~ .helper-text[data-error],
.select-wrapper.valid .helper-text[data-success],
.select-wrapper.invalid ~ .helper-text[data-error] {
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

input:not([type]).valid ~ .helper-text:after,
input:not([type]):focus.valid ~ .helper-text:after,
input[type="text"]:not(.browser-default).valid ~ .helper-text:after,
input[type="text"]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type="email"]:not(.browser-default).valid ~ .helper-text:after,
input[type="email"]:not(.browser-default):focus.valid ~ .helper-text:after,
textarea.textarea.valid ~ .helper-text:after,
textarea.textarea:focus.valid ~ .helper-text:after,
.select-wrapper.valid ~ .helper-text:after {
    content: attr(data-success);
    color: #4caf50;
}

input:not([type]).invalid ~ .helper-text:after,
input:not([type]):focus.invalid ~ .helper-text:after,
input[type="text"]:not(.browser-default).invalid ~ .helper-text:after,
input[type="text"]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type="email"]:not(.browser-default).invalid ~ .helper-text:after,
input[type="email"]:not(.browser-default):focus.invalid ~ .helper-text:after,
textarea.textarea.invalid ~ .helper-text:after,
textarea.textarea:focus.invalid ~ .helper-text:after,
.select-wrapper.invalid ~ .helper-text:after {
    content: attr(data-error);
    color: #f44336;
}

input:not([type]) + label:after,
input[type="text"]:not(.browser-default) + label:after,
input[type="email"]:not(.browser-default) + label:after,
textarea.textarea + label:after,
.select-wrapper + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

body {
    background: #f4f4f4;
    height: 100vh;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

button {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #3b3c37;
    background: #787b70;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.35s;
}

button:hover {
    color: #abafa0;
}

button span {
    opacity: 1;
    visibility: visible;
    transition: all 0.35s;
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
}

.success svg {
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all 0.35s;
}

button.is_active {
    width: 40px;
    height: 40px;
}

button.is_active .success {
    opacity: 1;
    visibility: visible;
}

button.is_active .success svg {
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span {
    opacity: 0;
    visibility: hidden;
}
