html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display:inline
}

.image-fit {
    max-width: 100%;
    max-height: 100%;
}
/*
.btn {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: rgba(0, 150, 136, 0.7);
    padding: 8px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    outline: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.btn-flat {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}


.btn.button-ripple {
    background-position: center;
    transition: background 0.3s;
}

.btn.button-ripple:hover {
    background: #053e6d radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}

.btn.button-ripple:active {
    background-color: #b4ddff;
    background-size: 100%;
    transition: background 0s;
}
*/
.flex-center {
    display: flex;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(
        180deg,
        #d3d8c6 0%,
        rgba(211, 216, 198, 0) 100%
    );
}

.logo-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
    align-items: center;
    order: 1;

    height: 10%;

    font-family: Six Caps;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 0%;
    text-decoration-line: line-through;
}

.semi-background {
    order: 2;
    flex-direction: column;
    width: 94%;
    height: 83%;
    left: 72px;
    top: 70px;

    background: linear-gradient(180deg, #abafa0 0%, rgba(84, 84, 84, 0) 100%);
}

.socialmedia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    order: 3;
    height: 90px;
}

.socialmedia-icon {
    width: 100px;
    height: 70px;
}

.content {
    position: relative;
    order: 2;

    height: 100%;
    max-height: 940px;
}

.content-flex {
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 93%;
    max-height: 940px;
}

.navbar {
    display: flex;
    order: 1;
    justify-content: space-between;
    justify-self: flex-end;

}

.nav-links {
    display: flex;
    justify-self: flex-end;
    justify-content: space-around;
}

.nav-link {
    font-family: "Six Caps", Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 30px;
    padding: 14px 16px;

    color: #3b3c37;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.nav-link:hover {
    color: white;
}
.selected-link {
    color: white;
    text-decoration: underline;
}

.container {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 180px;
    top: 352px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 252, 252, 0.7);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-drawer {
    display: none;
}

.only-mobile {
    display: none;
}

.not-mobile {
    display: block;
}

@media (max-width: 900px) {
    .background {
        width: 100%;
        height: 100%;

        align-items: center;

        background: #ffffff;
    }

    .semi-background {
        order: 2;
        display: flex;
        width: 88%;
        height: 99%;
        background: linear-gradient(
            180deg,
            #e0c5a3 0%,
            rgba(190, 194, 178, 0) 100%
        );
    }
}

@media (max-width: 601px) {
    .logo-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: center;
        justify-items: center;
        align-items: center;
        order: 1;
        height: 8%;
        font-family: Six Caps;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 0%;
        text-decoration-line: line-through;
        padding: 0 5px;
    }

    .nav-drawer {
        height: 100%;
        width: 80%;;
        max-width: 300px;
        position: fixed;
        float: right;
        z-index: 99;
        top: 0;
        left: 0;
        background-color: #e0c5a3;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
    }

    .nav-drawer {padding-top: 15px;}
    .nav-drawer a {
        font-size: 25px;
        width: 253px;
    }

    .nav-drawer li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 3px;
        border-bottom: 1px solid #3b3c37;
    } 
    .nav-drawer li span {
        align-self: center;
    }
    .nav-drawer ul {
        padding: 0 11px;
    }

    .nav-link {
        font-weight: 400;
    }

    .nav-link:hover {
        color: white;
    }
    .selected-link {
        color: white;
        text-decoration: underline;
    }
    
    .only-mobile {
        display: block;
    }
    
    .not-mobile {
        display: none;
    }

    .semi-background {
        order: 2;
        display: flex;
        width: 88%;
        height: 99%;
        background: linear-gradient(
            180deg,
            #e0c5a3 0%,
            rgba(190, 194, 178, 0) 100%
        );
    }

    .socialmedia-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        order: 3;
        height: 15%;
        max-height: 75px;
    }

    .socialmedia-icon {
        width: 69px;
        height: 70px;
    }
}
