html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

.image-fit {
    max-width: 100%;
    max-height: 100%;
}

.btn {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: rgba(0, 150, 136, 0.7);
    padding: 8px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    outline: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.btn-flat {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}


.btn.button-ripple {
    background-position: center;
    transition: background 0.3s;
}

.btn.button-ripple:hover {
    background: #b4ddff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}

.btn.button-ripple:active {
    background-color: #b4ddff;
    background-size: 100%;
    transition: background 0s;
}

.flex-center {
    display: flex;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(
        180deg,
        #d3d8c6 0%,
        rgba(211, 216, 198, 0) 100%
    );
}

.logo-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
    align-items: center;
    order: 1;

    height: 8%;

    font-family: Six Caps;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 0%;
    text-decoration-line: line-through;
}

.semi-background {
    order: 2;
    flex-direction: column;
    width: 94%;
    height: 83%;
    left: 72px;
    top: 70px;

    background: linear-gradient(180deg, #abafa0 0%, rgba(84, 84, 84, 0) 100%);
}

.socialmedia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    order: 3;
    height: 254px;
}

.socialmedia-icon {
    width: 100px;
    height: 70px;
}

.content {
    position: relative;
    order: 2;

    height: 100%;
    max-height: 940px;
}

.content-flex {
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 93%;
    max-height: 940px;
}

.profile-pic {
    position: absolute;
    width: 350px;
    height: 600px;
    left: 818px;
    top: 120px;

    /* background: url(0BEF8EAD-E3A8-48E9-A432-49B0476B3662.jpg); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
    position: absolute;
    width: 700px;
    height: 400px;
    left: 191px;
    top: 390px;

    font-family: "Six Caps", "Lora", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 84px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-box-about {
    position: absolute;
    width: 68%;
    height: 70%;
    left: 1%;
    top: 4%;
    z-index: 9;
    box-sizing: border-box;
    display: inline-block;
    overflow: scroll;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: rgba(255, 252, 252, 0.9);
}


.about-text {
    position: absolute;
    left: 64px;
    top: 16px;
    width: 80%;
    height: 96%;

    font-family: "Roboto", "Lora", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 29px;

    color: black;
}

.about-pic {
    position: absolute;
    width: 50%;
    height: 70%;
    left: 60%;
    top: 30%;
}

.work-pic {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 68%;
}

.text-work {

    width: 60%;
    height: 28%;

    font-family: "Roboto", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 160%;
    line-height: 85%;

    color: black;
}

.navbar {
    display: flex;
    order: 1;
    justify-content: space-between;
    justify-self: flex-end;

}

.nav-links {
    display: flex;
    justify-self: flex-end;
    justify-content: space-around;
}

.nav-link {
    font-family: "Six Caps", Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 30px;
    padding: 14px 16px;

    color: #3b3c37;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.nav-link:hover {
    color: white;
}
.selected-link {
    color: white;
    text-decoration: underline;
}

.container {
    position: absolute;
    width: 700px;
    height: 300px;
    left: 180px;
    top: 352px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 252, 252, 0.7);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-drawer {
    display: none;
}

@media (max-width: 900px) {
    .background {
        width: 100%;
        height: 100%;

        align-items: center;

        background: #ffffff;
    }

    .semi-background {
        order: 2;
        display: flex;
        width: 88%;
        height: 99%;
        background: linear-gradient(
            180deg,
            #e0c5a3 0%,
            rgba(190, 194, 178, 0) 100%
        );
    }

    .header {
        position: absolute;
        left: 6%;
        top: 50%;

        /* position: unset; */
        width: 700px;
        height: 400px;

        font-family: "Six Caps", Arial, Helvetica, sans-serif, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 126px;

        color: #ffffff;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .profile-pic {
        position: absolute;
        left: 46%;
        top: 24%;
        width: 350px;
        height: 600px;

        /* background: url(0BEF8EAD-E3A8-48E9-A432-49B0476B3662.jpg); */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .text-work {
        /* position: absolute;
        left: 320px;
        top: 400px; */
    
        width: 77%;
        height: 24%;
    
        font-family: "Roboto", "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 145%;
        line-height: 111%;
    
        color: black;
        /* background: rgba(255, 252, 252, 0.7); */
    }

    .text-box-about {
        position: absolute;
        width: 68%;
        height: 70%;
        left: 1%;
        top: 4%;
        z-index: 9;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
        background: rgba(255, 252, 252, 0.9);
    }
    
    .about-pic {
        position: absolute;
        width: 50%;
        height: 70%;
        left: 38%;
        top: 38%;
    }
}

@media (max-width: 601px) {
    .semi-background {
        order: 2;
        display: flex;
        width: 88%;
        height: 99%;
        background: linear-gradient(
            180deg,
            #e0c5a3 0%,
            rgba(190, 194, 178, 0) 100%
        );
    }

    .nav-drawer {
        height: 100%;
        width: 80%;
        max-width: 300px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #e0c5a3;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
    }

    .nav-drawer {padding-top: 15px;}
    .nav-drawer a {font-size: 18px;}
}
