.work-pic {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 68%;
}

.text-work {

    width: 40%;
    height: 35%;

    font-family: "Roboto", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 115%;
    line-height: 150%;

    color: black;
}

@media (max-width: 900px){
    .text-work {
        width: 77%;
        height: 24%;
    
        font-family: "Roboto", "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 145%;
        line-height: 111%;
    
        color: black;
        /* background: rgba(255, 252, 252, 0.7); */
    }
}

@media (max-width: 601px) {
    .text-work {
        font-size: 14px;
        line-height: 105%;
    }

    .work-pic {
        height: 58%;
    }
}